**Reading the Dataset**

In [5]:
import os

os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file=os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
  f.write('''NumRooms, RoofType,price
NA , NA <127500
2,NA,106000
4,Slate,178100
NA,NA,140000''')

In [6]:
import pandas as pd
data=pd.read_csv(data_file)
print(data)

  NumRooms     RoofType    price
0      NA    NA <127500       NaN
1        2          NaN  106000.0
2        4        Slate  178100.0
3      NaN          NaN  140000.0

**Data Preparation**

In [7]:
inputs,targets=data.iloc[:,0:2],data.iloc[:,2]
inputs=pd.get_dummies(inputs,dummy_na=True)
print(inputs)

   NumRooms_2  NumRooms_4  NumRooms_NA   NumRooms_nan   RoofType_ NA <127500  \
0       False       False          True         False                   True
1        True       False         False         False                  False
2       False        True         False         False                  False
3       False       False         False          True                  False

    RoofType_Slate   RoofType_nan
0            False          False
1            False           True
2             True          False
3            False           True

In [8]:
inputs=inputs.fillna(inputs.mean())
print(inputs)

   NumRooms_2  NumRooms_4  NumRooms_NA   NumRooms_nan   RoofType_ NA <127500  \
0       False       False          True         False                   True
1        True       False         False         False                  False
2       False        True         False         False                  False
3       False       False         False          True                  False

    RoofType_Slate   RoofType_nan
0            False          False
1            False           True
2             True          False
3            False           True

**Conversion to the Tensor Format**

In [9]:
import torch
X=torch.tensor(inputs.to_numpy(dtype=float))
y=torch.tensor(targets.to_numpy(dtype=float))
X,y

(tensor([[0., 0., 1., 0., 1., 0., 0.],
         [1., 0., 0., 0., 0., 0., 1.],
         [0., 1., 0., 0., 0., 1., 0.],
         [0., 0., 0., 1., 0., 0., 1.]], dtype=torch.float64),
 tensor([    nan, 106000., 178100., 140000.], dtype=torch.float64))